#user_nav {
    float: right;
}

.small_information{
  
    width: 250px;
    height:100px;
    padding:10px;
    margin:5px;
    margin-bottom:10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    float: left;
}

.main_information{
    text-align:center;
    margin:10px;
    font-size:25px;
}

.user_information{
    border: 2px solid black;
    margin-bottom:10px;
    margin-left:20%;
    border-radius: 15px ;
    padding:10px;
    width:500px;
    height:200px;
    text-align:center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.user_information img{
    border-radius: 15px ;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    width:200px;
    height:200px;
    float:left;
    margin-right:50px;
}

/*DIV-LINK USING BACKGROUND-IMAGE AND SPAN TO SHOW OTHER INFORMATION*/
#small_user-red {
     background-image: url('/images/rojo.jpg'); 
}

#small_user-red span {
    position:absolute;
    font-size: 14px;
}
#small_user-red img {
    width: 180px;
    height:100px;
}

#small_user-red a{
    text-decoration:none;
    font-size:30px;
}

#small_user-green {
     background-image: url('/images/verde.jpg');   
}

#small_user-green span {
    position:absolute;
    font-size: 14x;
}


#small_user-green img {
    width: 180px;
    height:100px;
}

#small_user-green a{
    text-decoration:none;
    font-size:30px;
}



#small-green {
     background-image: url('/images/verde.jpg'); 
}

#small-green span{
    position:absolute;
    font-size:60px;
    margin-left: 60px;
}

#small-green a {
    text-decoration:none;
}
#small-green img {
    width: 180px;
    height:100px;
}

#small-red {
    background-image: url('/images/rojo.jpg');
   
}

#small-red span{
    position:absolute;
    font-size:60px;
    margin-left: 60px;
    
}
#small-red a {
    text-decoration:none;
}
#small-red img {
  width:180px;
  height:100px
}

/*DIV CONTENT TO INFORMATION*/
#content-area{
    margin-left:5%;
    width:850px;
    background-color:#000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

/*STYLE TO USER NAV*/
.admin{
    margin:10px;
    margin-left: 40%;
}