#container {
  width: 50%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border:2px solid black;
  text-align: center;
  margin-top: 10%;
  font-size: 14px;x
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

form{
    margin-left:5%;
}

.error_messages {
    margin-left:10%;
}